@tailwind base;
@tailwind components;
@tailwind utilities;

.sky-gradient {
  background: linear-gradient(
    270deg,
    #FC813C 50.75%, 
    #6E9ED6 66.34%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dynamic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 80vw;
  justify-content: center;
  justify-items: center;
}
